@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams.ttf);
}
body{
    background-image: url("images/sunset1.jpg");
    background-size: 1500px 900px;
}
h1{
     font-family:"CaviarDreams", fantasy;
     text-align: center;
     color: white;
}
p{
    font-family:"CaviarDreams", fantasy;
    text-align: center;
    color: white;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
}
tr{
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #F3936B;
}
th{
    text-align: center;
    color: #ffffff;
    background-color: #FE5B35;
}
.hobbies{
    text-align: center;
}
ol{
    text-align: center;
}
.transbox{
    width: 300px;
    height: 50px;
}